.texts {
    -fx-fill: white;
    -fx-text-alignment: center;
    -fx-font-size: 13.5;
}

.interactiveHistoryTexts {
    -fx-underline: true;
}

.serverTexts {
    -fx-fill: white;
    -fx-text-alignment: center;
    -fx-font-size: 17;
    -fx-underline: true;
}